[submodule "logstash"]
	path = logstash
	url = https://github.com/lusis/chef-logstash.git
[submodule "kibana"]
	path = kibana
	url = https://github.com/lusis/chef-kibana.git
[submodule "ant"]
	path = ant
	url = https://github.com/opscode-cookbooks/ant.git
[submodule "ark"]
	path = ark
	url = https://github.com/opscode-cookbooks/ark.git
[submodule "java"]
	path = java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "git"]
	path = git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/fnichol/chef-rbenv.git
[submodule "python"]
	path = python
	url = https://github.com/opscode-cookbooks/python.git
[submodule "logrotate"]
	path = logrotate
	url = https://github.com/opscode-cookbooks/logrotate.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/opscode-cookbooks/rabbitmq.git
[submodule "yumrepo"]
	path = yumrepo
	url = https://github.com/atomic-penguin/cookbook-yumrepo.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "windows"]
	path = windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "chef_handler"]
	path = chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler.git
[submodule "dmg"]
	path = dmg
	url = https://github.com/opscode-cookbooks/dmg.git
[submodule "yum"]
	path = yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "erlang"]
	path = erlang
	url = https://github.com/opscode-cookbooks/erlang.git
